*
*/**
!out/src/**/*.js
!out/src/**/*.pi
!snippets/*.json
!syntaxes/*.json
!images/**/*
!README.md
!package.json
!CHANGELOG.md
!picat.configuration.json
!LICENSE.txt
!node_modules/bluebird/**/*
!node_modules/fs-extra-plus/**/*
!node_modules/process-promises/**/*
!node_modules/split/**/*
!node_modules/through/**/*
!node_modules/vscode-debugadapter/**/*
!node_modules/vscode-debugprotocol/**/*
